.ant-btn {
  color: "white";
}
.logo-vertical {
  height: 40px;
  width: "full";
  background: rgb(226, 224, 224);
  margin: 5px;
  text-align: center;
  font-size: large;
  padding: 10px;
  color: #001529;
  font-weight: bold;
}
.logo {
  height: 63px;
  width: 200px;
  color: white;
  padding: 6px 25px;
  font-size: xx-large;
  text-align: center;
  font-family: cursive;
}
.logo1 {
  height: 63px;
  width: 80px;
  color: white;
  padding: 4px 13px;
  font-size: xx-large;
  text-align: center;
  font-family: cursive;
}
.ant-layout .ant-layout-sider-trigger {
  visibility: hidden;
}
.searchIcon {
  color: white;
  margin: 20px;
  font-size: 20px;
}
